/.vscode
/DuplicatesRemoval.class
/DuplicatesRemoval.java
/GFG.class
/Image20230726103059.jpg
/index.html
/index2.html
/LinkedIn page.html
/LinkedIn page_files
/LinkedList.class
/Main.class
/MergeAndSort.class
/MissingNumbers.class
/Node.class
/practice.class
/second.html
/style.css
/style2.css
/work.html